*{
    box-sizing: border-box;
}

.body-page2{
    margin: 0 auto;
}

.top-quizz p{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/16777216colors.png/220px-16777216colors.png");
    /* background se repetindo */
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    color: #FFFFFF;
}

.question, .result p{
    text-align: center; 
}

.question p{
    background: #434CA0;
    color: #FFFFFF;
    padding: 4%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 23px;
}

.question h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.question{
    margin-top: 7vh;
    background: #FFFFFF;
    height: 30vw;
    width: 30vw;   
}

.question img{
    padding: 2%;    
}

.top{
    display: flex;
    justify-content: center;
}

.down{
    display: flex;
    justify-content: center;
}

.option{
    margin: 4%
}
.result{
    margin-top: 5%;
    background: #FFFFFF;
    height: 30vw;
    width: 30vw;  
}

.result p{
    background: #EC362D;
    color: #FFFFFF;
    padding: 4%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 23px;
}

.description{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 19px;
    line-height: 132%;
    color: #484848;
}

.restart{
    background: #EC362D;
    padding: 2%;
    color: #FFFFFF;   
    border-radius: 15px; 
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
}   

.home{
    color: #818181;
    margin-bottom: 2%;
    text-align: center;   
    margin-top: 1%; 
}

@media (max-width: 1100px){
    .question, .result{
        height: 100vh;
        width: 100vw;  
    }

    .result{
        /* essa config não tá pegando */
        display: flex;
        flex-direction: column;
    }
}