*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

::placeholder {
    color: #D1D1D1;
    font-style: italic;
    font-size: 19px;
}

:-ms-input-placeholder{
    color: #D1D1D1;
    font-style: italic;
    font-size: 19px;
    opacity: 1;
}

::-ms-input-placeholder{
    color: #D1D1D1;
    font-style: italic;
    font-size: 19px;
}

.top-box{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 37px;
}

.container{
    display: flex;
    flex-direction: column;
}
