.layout2{
    display: none;
}

.top-quizz p{
    display:flex;
    background-color:rgba(0,0,0,.6);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 69px;
    width: 100vw;
    height: 227px;;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    color: #FFFFFF;
}

.question{
    margin:0 auto;
    margin-top: 42px;
    background: #FFFFFF;
    width: 759px;
    height: auto;
    padding: 27px 34px 20px 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question p{
    display: flex;
    background: #434CA0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 23px;
    width: 688.16px;
    height: 137.99px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.question h1{
    width: 329.91px;
    height: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    overflow: hidden;
}

.black{
    color: #000000;
}

.green{
    color:green;
}

.question img{
    display: flex;
    width: 329.91px;
    height: 175.2px;   
    padding: 20px 0px 7.7px 0px;
}

.opacity{
    opacity: 0.3;
}

.options{
    width: 329.91px;
    height: 240.2px;    
    margin-bottom: 2px; 
    margin: 0 auto;
   
}

.allAnswers{
    display: flex;
    flex-wrap: wrap;
}


.result{
    margin: 0 auto;
    margin-top: 62px;
    background: #FFFFFF;
    width: 759px;
    height: 430px;  
    padding: 18px 14px 18px 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.result img{
    width: 364px;
    height: 273px;
    padding: 18px 21px 22px 18px;
}

.top-result{
    background: #EC362D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 23px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 727px;
    height: 99px;
}


.description{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 19px;
    line-height: 132%;
    color: #484848;

}

.description h1{
    width: 328px;
    height: 250px;
    padding: 18px 0px 45px 21px;
}

.restart{
    display:flex;
    background: #EC362D;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;   
    border-radius: 15px; 
    width: 260.38px;
    height: 52px;
    
    margin: 0 auto;
    margin-top: 57px;

}   

.home{
    display:flex;
    color: #818181;
    align-items: center;
    justify-content: center;
    margin: 0 auto;  
    margin-top: 16px;
    margin-bottom: 85px; 
    width: 219.64px;
    height: 44px;
}

@media (max-width: 1100px){
    .top-quizz p{
        width: 100vw;
        height: 142px;;
    }
    
    .question{
        margin-top: 24px;
        margin-bottom: 22px;
        width: 375px;
        height: auto;
        padding: 18px 17px 10px 18px;
    }

    .question p{
        font-size: 19px;
        line-height: 22px;
        width: 340px;
        height: 89px;
    }

    .question img{
        width: 163px;
        height: 113px;
        padding: 13px 0px 5px 0px;
    }

    .options{
        width: 163.94px;
        height: 160.2px;   
        margin-bottom: 2px; 
  
    }

    .question h1{
        width: 163px;
        height: auto;
        font-size: 13px;
        line-height: 15px;
        padding: 6px 17px 23px 14px ;
    }

    .result{
        width: 375px;
        height: 500px;
        padding: 18px 17px 9px 18px;        
    }

    .result img{
        width: 340px;
        height: 255px;
        padding: 9px 16px 9px 19px;
    }
    
    .top-result{
        width: 340px;
        height: 99px;;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
    }
    
    .description{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        height: 96px;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        width: 328px;
        height: 250px;
    }

    .restart{
        width: 220.32px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;    
        margin-top: 34px;
        margin-bottom: 8px;    
    }

    .home{
        width: 219.64px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 66px;
    }
}