/* Layout 3.4 */
.containerForm4{
    display: none;
    flex-direction: column;
    justify-content: center;
}

.finished-message{
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 21px;
    margin-top: 140px;
    margin-bottom: 46px;
}

.my-quizz{
    align-self: center;
}

.my-quizz div{
    margin: 0px 10px 14px 10px;
}

.access-form{
    display: flex;
    width: 368.86px;
    font-size: 21px;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 54px;
    margin-bottom: 9px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FAFAFA;
}

.return-home{
    display: flex;
    align-self: center;
    width: 219.64px;
    height: 44px;
    font-size: 21px;
    align-items: center;
    justify-content: center;
    color: #818181;
}

@media (max-width: 1100px) {
    .finished-message{
        margin-top: 108px;
        margin-bottom: 29px;
    }
    .my-quizz {
        margin-bottom: 24px;
    }
}